{% load static %}
<div class="container p-5 mt-2" data-aos="fade-up" id="featured-3">
    <div class="text-center p-1">
      <h3 class="h3 fw-bold lh-1 text-center">Who We Are</h3>
      <p class="text-muted">Get to know more about us</p>
    </div>

    <div class="row flex-lg-row-reverse justify-content-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static 'img/bx/services/Facebook_Profile.jpg' %}" class="d-block mx-lg-auto rounded-pill img-fluid" alt="" width="700" height="500" loading="lazy">
        </div>
        <div class="d-flex align-items-center text-sm-center col-lg-6">
          <!-- <h1 class="display-5 fw-bold lh-1 mb-3">Logo Design</h1> -->
          <p class="lead">Brandxperts is owned by Tawanda Mushava , a graphic designer with 10 years
            experience specializing in brand identity, and logo design. Located in Harare Zimbabwe,
             the studio works with global clients looking to improve brand perception and engagement. </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
        </div>
    </div>

    <div class="text-center p-1 m-3">
        <h3 class="h3 fw-bold lh-1 text-center">How many people work at BrandXperts</h3>
        <p class="text-muted">and do you outsource design work?</p>
    </div>

    <div class="row flex-lg-row-reverse justify-content-center g-5 py-5">
        <div class="d-flex align-items-center text-center col-lg-12">
          <p class="lead">BrandXperts is one person—Tawanda Mushava. While I don’t work with other designers, I do work with photographers,
            writers, illustrators,  Web Designers and Developers etc. when required. Its important to note that all of the design work shown in my portfolio
             was completed by me, the same person that would be collaborating with you on your project.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
        </div>
    </div>

</div>
