{% load static %}
<!--------------------------------------
SERVICES
--------------------------------------->
<h1 class="display-4 pt-5 fw-bold lh-1 text-center">Explore</h1>
<p class="lead text-center">explore some of our core services and get in touch with us for a reliable customer experience</p>

<div class="container col-xxl-8 px-4 py-5" data-aos="fade-up">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/index/bx_with_bg.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Logo Design</h1>
        <p class="lead">We design professional standard brand logos that will give you your own unique
          image that will fit on any platform, product or desing.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          
        </div>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5" data-aos="fade-up">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Graphics Design</h1>
            <p class="lead">Get high end quality graphics for your business that will transform your marketing
              to the next level and capture the hearts of your customers.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              
            </div>
        </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/index/bx_with_bg.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
          </div>
      
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5" data-aos="fade-up">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/index/bx_with_bg.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Video Editing</h1>
        <p class="lead">We are also involved in video editing for commercial ads and social media ads, we are the best in town and our service 
          is one of a kind, reach out and say no more and watch your company grow.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          
        </div>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5" data-aos="fade-up">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Motion Graphics</h1>
            <p class="lead">Thinking of taking ads to the next level of the next level? Say no more we got you 
              coverd we can make you motion graphics to get a business touch and feeling into
              the face of the customers.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              
            </div>
        </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/index/bx_with_bg.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
          </div>
      
    </div>
</div>