{% extends "error/error.html" %}
{% load static %}

    {% block title %}
        <title>Page Not Found - 404</title>
    {% endblock %}
    {% block 404 %}

    <div class="container-fluid bg-bx" style="min-height: 100vh;">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'img/index/bx_with_bg.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6 text-white">
                <h1 class="display-5 fw-bold lh-1 mb-3">Page Not Found</h1>
                <p class="lead fs-6"> Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <a href="{% url 'index' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Home</button></a>
                  <a href="{% url 'services' %}"><button type="button" class="btn btn-outline-white btn-lg px-4">Services</button></a>
                </div>
              </div>
            </div>
        </div>
    </div>

    {% endblock %}
