{% load static %}
<div class="container p-2" data-aos="">

	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		<div class="col-sm-12 col-md-6 col-lg-4">
		  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../static/img/bx/index/Why_Need_A_Brand_Designer_1.jpg');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
			  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
			  <ul class="d-flex list-unstyled mt-auto">
				<li class="me-auto">
				  <!-- <img src="{% static 'img/index/bx_logo_ico_full.png' %}" width="32" height="32"> -->
				</li>
			  </ul>
			</div>
		  </div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
		  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../static/img/bx/index/Why_Need_A_Brand_Designer_3.jpg');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
			  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
			  <ul class="d-flex list-unstyled mt-auto">
				<li class="me-auto">
				  <!-- <img src="{% static 'img/index/bx_logo_ico_full.png' %}" width="32" height="32"> -->
				</li>
			  </ul>
			</div>
		  </div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
		  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../static/img/bx/index/Why_Need_A_Brand_Designer_6.jpg');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
			  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
			  <ul class="d-flex list-unstyled mt-auto">
				<li class="me-auto">
				  <!-- <img src="{% static 'img/index/bx_logo_ico_full.png' %}" width="32" height="32"> -->
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	</div>
</div>
