<!--------------------------------------
CTA
--------------------------------------->
<div class="container pt-4 pb-5 mb-5" id="contactus" data-aos="fade-up">
	<div class="pb-4 text-center">
		<h2>Ready? <strong><span class="text-bx">Start</span> your professional journey!</strong></h2>
		{% block GIT %}
		<p class="text-muted">
			{{GIT}}
		</p>
		{% endblock %}
	</div>
	<form class="row justify-content-center">
		<div class="col-md-3 p-3">
			<input type="text" class="form-control input-round w-100 form-control-lg" placeholder="First name*">
		</div>
		<div class="col-md-3 p-3">
			<input type="text" class="form-control input-round w-100 form-control-lg" placeholder="E-mail address*">
		</div>
		<div class="col-md-3 p-3">
			<button type="submit" class="btn btn-bx btn-round btn-lg w-100">Contact us</button>
		</div>
	</form>
</div>
<!-- End CTA -->