<!--------------------------------------
CTA
--------------------------------------->
<div class="container pt-4 pb-5 mb-5" id="contactus" data-aos="fade-up">
	<div class="pb-4 text-center">
		<h2>Ready? <strong><span class="text-bx">Start</span> your professional journey!</strong></h2>
		{% block GIT %}
		<p class="text-muted">
			{{GIT}}
		</p>
		{% endblock %}
	</div>
	<form method="" action="{% url 'contact' %}" class="row justify-content-center">
		{% csrf_token %}
		<div class="col-sm-12 col-md-12 col-lg-3 p-3">
			<button type="submit" class="btn btn-bx btn-round btn-lg w-100">Contact us</button>
		</div>
	</form>
</div>
<!-- End CTA -->
