<!--------------------------------------
FAQ
--------------------------------------->
<div class="container pt-2 pb-5" data-aos="fade-up">
	<div class="text-center pt-3 pb-4">
		<h2>Frequently Asked Questions</h2>
		<p class="text-muted">
			 Transparent answers, licensing and lore ipsum super funny.
		</p>
	</div>
	<div class="row gap-y justify-content-center">
		<div class="col-md-5">
			<h5>Question?</h5>
			<p class="text-muted">
				lorem ipsum
			</p>
		</div>
		<div class="col-md-5">
			<h5>Question?</h5>
			<p class="text-muted">
				lorem ipsum
			</p>
		</div>
		<div class="col-md-5">
			<h5>Question?</h5>
			<p class="text-muted">
				lorem ipsum
			</p>
		</div>
		<div class="col-md-5">
			<h5>Question</h5>
			<p class="text-muted">
				lorem ipsum
			</p>
		</div>
	</div>
</div>
<!-- End FAQ -->