{% load static %}
<!--------------------------------------
FULL WIDTH IMG
--------------------------------------->

<div class="container p-2" data-aos="fade-up">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <article>
        <figure class="text-center mt-4 mb-4 full-width" data-aos="fade-up">
          <img
            src="{% static 'img/index/Facebook_cover.jpg' %}"
            class="figure-img img-fluid"
            alt=""
          />
        </figure>
      </article>
    </div>
  </div>
</div>
<!-- End FWIMG -->
