{% load static %}
<!--------------------------------------
FEATURES
--------------------------------------->
<div class="container p-5 mt-2" data-aos="fade-up" id="home_services">
	<div class="text-center p-1">
		<h1 class="display-4 fw-bold lh-1 text-center">Our Services</h1>
		<p class="text-muted">
			 Explore some of our core services
		</p>
	</div>
	<div class="row gap-y">
		<div class="col-md-6 col-xl-4">
			<div class="media">
				<div class="iconbox iconmedium rounded-circle text-bx mr-4">
					<i class="fa-sharp fa-solid fa-object-group"></i>
				</div>
				<div class="media-body">
					<h5>Logo Design</h5>
					<p class="text-muted">
						We design professional standard brand logos that will give you your own unique
						image that will fit on any platform, product or desing.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<div class="media">
				<div class="iconbox iconmedium rounded-circle text-bx mr-4">
					<i class="fa-sharp fa-solid fa-palette"></i>
				</div>
				<div class="media-body">
					<h5>Graphics Design</h5>
					<p class="text-muted">
						Get high end quality graphics for your business that will transform your marketing
						to the next level and capture the hearts of your customers.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<div class="media">
				<div class="iconbox iconmedium rounded-circle text-bx mr-4">
					<i class="fa-sharp fa-solid fa-clapperboard"></i>
				</div>
				<div class="media-body">
					<h5>Motion Graphics</h5>
					<p class="text-muted">
						Thinking of taking ads to the next level of the next level? Say no more we got you 
						coverd we can make you motion graphics to get a business touch.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<div class="media">
				<div class="iconbox iconmedium rounded-circle text-bx mr-4">
					<i class="fa-sharp fa-solid fa-laptop-code"></i>
				</div>
				<div class="media-body">
					<h5>Web Development</h5>
					<p class="text-muted">
					Is all of the above already aquired? We also develop web applications to meet your
					demands and scale out to reach more customers on a larger scale with supported
					maintanence.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<div class="media">
				<div class="iconbox iconmedium rounded-circle text-bx mr-4">
					<i class="fa-sharp fa-solid fa-users"></i>
				</div>
				<div class="media-body">
					<h5>Social Media Management</h5>
					<p class="text-muted">
						We also care about your social media presence, well we got you coverd in that area 
						as well, we can manage your social media accounts providing graphicsas well.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<div class="media">
				<div class="iconbox iconmedium rounded-circle text-bx mr-4">
					<i class="fa-sharp fa-solid fa-industry"></i>
				</div>
				<div class="media-body">
					<h5>Brand Design</h5>
					<p class="text-muted">
						All in all we build brands from ground up to established status, from logo to all business 
						graphics needed including fliers, business cards etc.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Features -->