{% load static %}
<!--------------------------------------
FEATURES
--------------------------------------->
<div class="container p-5 mt-2" data-aos="fade-up" id="featured-3">
  <div class="text-center p-1">
    <h3 class="h3 fw-bold lh-1 text-center">Our Services</h3>
    <p class="text-muted">Explore some of our core services</p>
  </div>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="feature col-sm-12 col-md-6 col-lg-4 text-center">
      <div class="feature-icon">
        <i class="fa-sharp fa-solid fa-object-group"></i>
      </div>
      <h3>Brand Design</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        <svg class="bi" width="1em" height="1em" role="img" aria-label="Tools">
          <i class="bi bi-box-arrow-in-right"></i>
        </svg>
      </a>
    </div>

    <div class="feature col-sm-12 col-md-6 col-lg-4 text-center">
      <div class="feature-icon">
        <i class="fa-sharp fa-solid fa-clapperboard"></i>
      </div>
      <h3>Motion Graphics</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        <svg class="bi" width="1em" height="1em" role="img" aria-label="Tools">
          <i class="bi bi-box-arrow-in-right"></i>
        </svg>
      </a>
    </div>

    <div class="feature col-sm-12 col-md-6 col-lg-4 text-center">
      <div class="feature-icon">
        <i class="fa-sharp fa-solid fa-palette"></i>
      </div>
      <h3>Graphics Design</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        <svg class="bi" width="1em" height="1em" role="img" aria-label="Tools">
          <i class="bi bi-box-arrow-in-right"></i>
        </svg>
      </a>
    </div>

  </div>

</div>
<!-- End Features -->
