{% load static %}
<div id="parallax-world-of-ugg" class="pt-5 pb-5">
  <section>
    <div class="title">
      <h3 class="h3 fw-bold lh-1">Armed With Purpose</h3>
      <p class="text-muted">Strategic direction for every branding project</p>
    </div>
  </section>
  <section>
    <div class="parallax-three"></div>
  </section>
  <section>
    <div class="block">
      <p>
        <span class="first-character ny">I</span>nformation is the most valuable
        source of inspiration and strategic direction for every branding
        project. The client is in the best position to provide much of this
        information enabling us to gain understanding and context.
      </p>
    </div>
  </section>
</div>
