{% load static %}
<!--------------------------------------
Write us
--------------------------------------->
<div class="container-md p-5 mt-2" data-aos="fade-up" id="featured-3">
  <div class="text-center p-1">
    <h3 class="h3 fw-bold lh-1 text-center">Write us</h3>
    <p class="text-muted">Directly contact us for assistance</p>
  </div>
    <form method="POST" action="{% url 'write' %}" class="row justify-content-center needs-validation" novalidate>
        {% csrf_token %}
        <div class="col-sm-12 col-md-6 p-3">
            <input type="text" name="name" class="form-control input-round w-100 form-control-md" placeholder="First name*" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter name.
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-3">
            <input type="text" name="lname" class="form-control input-round w-100 form-control-md" placeholder="Last name*" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter last name.
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-3">
            <input type="email" name="email" class="form-control input-round w-100 form-control-md" placeholder="E-mail address*" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter email address.
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-3">
            <input type="text" name="number" class="form-control input-round w-100 form-control-md" placeholder="Phone number*" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter phone number.
            </div>
        </div>
        <div class="col-12 p-3">
            <textarea name="message" class="form-control input-round w-100 form-control-md" placeholder="Message...*" rows="3" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter message.
            </div>
        </div>
        <div class="col-12 p-3">
            <button type="submit" class="btn btn-bx btn-round btn-md w-100">Send</button>
        </div>

        <!-- 1st Alert-->
        {% block error %}
        <div class="alert alert-secondary mt-3" role="alert">
            {{error}}
        </div>
        {% endblock %}
        <!-- 2nd Alert-->
        {% block 200OK %}
        <div class="alert alert-secondary mt-3" role="alert">
            {{200OK}}
        </div>
        {% endblock %}
        <!-- 3rd Alert-->
        {% block 400 %}
        <div class="alert alert-secondary mt-3" role="alert">
            {{400}}
        </div>
        {% endblock %}

    </form>

</div>
<!-- End Write us -->
