{% load static %}
<!--------------------------------------
Write us
--------------------------------------->
<div class="container-md p-5 mt-2" data-aos="fade-up" id="featured-3">
  <div class="text-center p-1">
    <h3 class="h3 fw-bold lh-1 text-center">Write us</h3>
    <p class="text-muted">Directly contact us for assistance</p>
  </div>
    <form method="POST" action="{% url 'write' %}" class="row justify-content-center needs-validation" novalidate>
        {% csrf_token %}
        <div class="col-sm-12 col-md-6 p-3">
            <input type="text" id= "info" name="info" class="form-control input-round w-100 form-control-md" placeholder="Subject*" required>
            <div class="ml-3 valid-feedback">
                Looks good!
            </div>
            <div class="ml-3 invalid-feedback">
                Please valid input.
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-3">
            <input type="email" id= "email" name="email" class="form-control input-round w-100 form-control-md" placeholder="E-mail address*" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter email address.
            </div>
        </div>
        <div class="col-12 p-3">
            <textarea name="message" id= "message" class="form-control input-round w-100 form-control-md" placeholder="Message...*" rows="3" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter message.
            </div>
        </div>
        <div class="col-12 p-3">
            <button type="submit" class="btn btn-bx btn-round btn-md">Send</button>
        </div>
        <!-- Alert-->
        {% block notification %}
        <div class="alert mt-3 p-0 text-center" role="alert">
            {{notification}}
        </div>
        {% endblock %}
    </form>

</div>
<!-- End Write us -->
